
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #ffffff;
}

.container {
    display: flex;
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.signup {
    flex: 1;
    padding: 40px;
    margin: auto;
   
}


.signin h2 {
  margin: auto;
  margin-top: 30%;
    text-align: center;
}

.signin form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: white;
    transition: 0.9s ease;
    position: relative;
    margin: auto;
}

/* .signin label {
    text-align: center;
} */

.signin .error {
    text-align: center;
}

.signin button {
    text-align: center;
}


.signup h2 {
   
    text-align: center;
     margin-top: 10%;
    
} 


.signup form {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    background: white;
    transition: 0.9s ease;
    position: relative;
    margin: auto;

}

.signup, .signin {
  display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
    background: #ffffff;
    flex: 1;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: 0.9s ease;
    
}

form {
  display: flex;
    flex-direction: column;
    justify-self: end;
     position: relative;;
    width: 100%;
    height: 100%;
    padding: 40px;
    background: white;
    transition: 0.9s ease;
}

label {
  width: 100%;
    display: block;
    margin: 15px 0 5px;
    color: #757575;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    color: #9E9E9E;
}
.input-box {
    position: relative;
}

.icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.eye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
}

.input-box input {
    padding-left: 45px;
    padding-right: 45px;
}


button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #506d7b;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
button:hover {
  background: black;
  color: white;
  transform: translateY(-2px);
}

.error {
    color: red;
    font-size: 0.85rem;
    margin-top: 3px;
    display: block;
}

.image-box {
     position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    flex: 1;
    background: #e9e6df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 0.9s ease;
    
}

.image-box img {
    max-width: 50%;
}

.signin-btn {
     margin-top: 30px;
    padding: 10px 30px;
    cursor: pointer;
    width: 50%;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #506d7b;
    color: #000;
}

.signup {
    left: 0;
    z-index: 2;
}

.signin {
    left: 0;
     z-index: 1;
}

.container.active .image-box {
    transform: translateX(-100%) ;
}

.container.active .signup {
     z-index: 2;
.signin {
     z-index: 1;
}
    transform: translateX(100%) ;
}

.container.active .signin {
    z-index: 2;
.signup {
     z-index: 1;
}
    transform: translateX(100%) ;
}

.mobile-switch {
  display: none;
}

@media (max-width: 1110px) {
     .container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    position: relative;
  }

  .mobile-switch {
    display: block;
    text-align: center; 
    margin-top: 15px;
    font-size: 14px;
    color: #777;
  }

  .mobile-switch span {
    color: #506d7b;
    font-weight: bold;
    cursor: pointer;
  }

  .image-box {
    display: none;
  }

  .signup,
  .signin {
     position: relative !important;
    width: 90% !important;
    max-width: 400px;
    height: auto !important;
    top: auto !important;
    left: auto !important;
    transform: none !important;
    z-index: auto !important;
    margin: 0 auto !important;
    margin-top: 20% !important;
    padding: 20px;
  }

   form {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
    padding: 20px;
  }
  .signup {
    display: block;
  }

  .signin {
    display: none;
  }

  .container.active .signup {
    display: none;
  }

  .container.active .signin {
    display: block;
  }
}



.hidden {
  display: none !important;
}


#successAlert {
  position: fixed;
  bottom: 70px;
  left: 40px;
  background-color: #d1fae5; 
  color: #065f46;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  z-index: 9999;
}

#successAlert i {
  color: #059669;
  font-size: 20px;
}